<% unless locals.empty? %>
  <%= message %>
<% end %>

<h1><%= @user.username %> Edit Your Sightseeing List</h1>
<form method="POST" action="/lists/<%= @user.slug %>">
<input type="hidden" id="hidden" name="_method" value="PATCH">
  Choose from existing Sights by checking (or unchecking) the box:<br>
  <% @sights.each do |sight| %>
  <input type="checkbox" name="user[sight_ids][]" id="sight_<%= sight.id %>" value="<%= sight.id %>" <%='checked' if @user.sight_ids.include?(sight.id) %>><%= sight.name %><br>
  <% end %>
  <br></br>
  or, Create a new Sight to visit:<br>
  Name: <input type="text" name="sight[name]" id="new_sight_name"><br>
  Description (one line): <input type="text" name="sight[description]" id="new_sight_description"><br>
  <input type="submit" value="Submit Edited List">
</form>