<h1>Welcome, <%= current_user.username %>, to the List of DC Sights</h1>

<% if @sights.empty? %>
  There are no Sights listed. Create a Sight that others should visit now!
  <a href="/sights/new"><input type="submit" value="Create Sight"></a><br>

<% else %>

  Here are the DC Sights:<br>
  <ul>
  <% @sights.each do |sight| %>
    <li><%= sight.name %> - <%= sight.description %> <a href="/sights/<%= sight.id %>"><input type="submit" value="See Sight Page"></a></li>
  <% end %>
  </ul>
<% end %>
Don't see the Sight you are looking for? Create a Sight that others should visit now!  <a href="/sights/new"><input type="submit" value="Create Sight"></a>
<br></br>
<a href="/users/<%= current_user.slug %>"><input type="submit" value="View Your Existing List"></a><br>
<a href="/lists/new"><input type="submit" value="Create Your List"></a><br>